Source: php-analog
Section: php
Priority: optional
Maintainer: François-Régis Vuillemin <frv-debian@miradou.com>
Build-Depends: debhelper (>= 9.0.0), pkg-php-tools (>= 1.7~)
Standards-Version: 3.9.5
Homepage: https://github.com/jbroadway/analog
# Vcs-Git: git://github.com:jbroadway/analog.git
Vcs-Browser: https://github.com/jbroadway/analog

Package: php-analog
Architecture: all
Depends: php-common (>= 5.3.0), php-spl, php-date, php-json, php-pcre, php-curl, ${misc:Depends}, ${phpcomposer:Debian-require}
Description: PHP micro logging package
 A MicroPHP logging package based on the idea of using closures for
 configurability and extensibility. It functions as a static class, but you can
 completely control the writing of log messages through a closure function (aka
 anonymous functions)
 .
 Analog also comes with over a dozen pre-written handlers in the
 Analog/Handlers folder, with examples for each in the examples folder.
 These include:
 .
  - Amon - Send logs to the Amon server monitoring tool
  - Buffer - Buffer messages to send all at once (works with File, Mail,
    Stderr,
    and Variable handlers)
  - ChromeLogger - Sends messages to Chrome Logger browser plugin
  - File - Append messages to a file
  - FirePHP - Send messages to FirePHP browser plugin
  - GELF - Send message to the Graylog2 log management server
  - LevelBuffer - Buffer messages and send only if sufficient error level
    reached
  - Mail - Send email notices
  - Mongo - Save to MongoDB collection
  - Multi - Send different log levels to different handlers
  - Null - Do nothing
  - Post - Send messages over HTTP POST to another machine
  - Stderr - Send messages to STDERR
  - Syslog - Send messages to syslog
  - Threshold - Only writes log messages above a certain threshold
  - Variable - Buffer messages to a variable reference.
 .
 So while it's a micro class, it's highly extensible and very capable out of the
 box too.
